@import "../../app/styles/variables";
.container {
  padding: 1.875vw;
  background: #fff;
  box-shadow: 1px 2px 4px 0px #18138140;
  border-radius: 0.781vw;
  max-width: 18.49vw;
  max-height: 13.125vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.083vw;
  .title {
    margin: 0;
    font-size: 2.083vw;
    font-family: $secondary_font;
    text-align: center;
  }
  .text {
    text-align: center;
    margin: 0;
    span {
      font-size: 0.938vw;
      font-family: $primary_font;
    }
  }
  .sendButton {
    border: none;
    outline: none;
    background: linear-gradient(
      89.57deg,
      #05ad25 0.38%,
      #0294a1 50%,
      #181381 99.62%
    );
    color: white;
    box-shadow: 1px 2px 25px 0px #142f8840;
    line-height: 1.406vw;
    font-size: 0.938vw;
    padding: 0.599vw 0px;
    border-radius: 0.781vw;
    cursor: pointer;
  }
}
@media screen and (max-width: 1920px) {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 36px;
    border-radius: 15px;
    max-width: 355px;
    max-height: 252px;
    gap: 0px;
    .topBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .inputBlock {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .input {
      width: 340px;
      height: 36px;
      padding-left: 10px;
      top: 207px;
      left: 36px;
      border-radius: 20px;
      background-color: rgba(240, 240, 240, 1);
      border: none;
      font-size: 14px;
      &::placeholder {
        font-size: 14px;
      }
    }
    .title {
      font-size: 40px;
      margin-bottom: 32px;
    }
    .text {
      span {
        font-size: 18px;
      }
    }
    .sendButton {
      line-height: 27px;
      font-size: 18px;
      padding: 11.5px 0px;
      border-radius: 15px;
    }
  }
}
